html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: Roboto, Regular, sans-serif;
    color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: inherit;
}

img {
    display: inline-block;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}