:root {
  --yellow-color: #ffe550;
  --light-green-color: #bbf330;
  --green-color-hover: #b5ff00;
  --dark-green-color: #7eb101;
  --white-color: #ffffff;
  --black-color: #2c2c2c;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Roboto, Regular, sans-serif;
  color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

img {
  display: inline-block;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.hero {
  padding-top: 60px;
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 14px;
  }
}

.container__hero {
  gap: 40px;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .container__hero {
    gap: 152px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .hero__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin: 0%;
  padding-bottom: 28px;
}
@media screen and (max-width: 767px) {
  .hero__title {
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 537px;
    font-size: 42px;
    line-height: 120%;
    padding-bottom: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 502px;
    font-size: 48px;
    line-height: 120%;
    padding-bottom: 28px;
  }
}

.hero__about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 0%;
  padding-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__about-text {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 40px;
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__about-text {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 40px;
    width: 502px;
  }
}

.hero__button {
  width: 98px;
  height: 32px;
  border: none;
  font-weight: 400;
  font-size: 13.6667px;
  line-height: 150%;
  background: var(--light-green-color);
  border-radius: 30px;
}
.hero__button:hover, .hero__button:focus {
  background: var(--green-color-hover);
}
@media screen and (max-width: 767px) {
  .hero__button {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__button {
    margin-bottom: 73px;
  }
}

.hero__circle {
  position: relative;
  margin: 0 14px 14px 0;
  background: #fefefe;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .hero__circle {
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  .hero__circle {
    margin-top: auto;
    position: absolute;
    right: 45px;
    bottom: 0;
    margin: 0 0 14px 40px;
  }
}
@media screen and (min-width: 768px) {
  .hero__circle {
    width: 320px;
    height: 320px;
    border: 14px solid var(--yellow-color);
  }
}
@media screen and (min-width: 1280px) {
  .hero__circle {
    width: 580px;
    height: 580px;
    border: 26px solid var(--yellow-color);
  }
}

.slider__container {
  border-radius: 50%;
  overflow: hidden;
}

.slider {
  display: flex;
  padding: 0;
}

.slide {
  display: inline-block;
  position: relative;
  list-style: none;
  transition-duration: 0.5s;
}

.slider__img {
  width: 292px;
}
@media screen and (min-width: 1280px) {
  .slider__img {
    min-width: 528px;
  }
}

.slider__button--left,
.slider__button--right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  background: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: none;
}
.slider__button--left:hover, .slider__button--left:focus,
.slider__button--right:hover,
.slider__button--right:focus {
  fill: var(--dark-green-color);
}
@media screen and (min-width: 768px) {
  .slider__button--left,
.slider__button--right {
    width: 34px;
    height: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .slider__button--left,
.slider__button--right {
    width: 48px;
    height: 40px;
  }
}

.slider__button--left {
  top: 47%;
  left: -23px;
}
@media screen and (min-width: 1280px) {
  .slider__button--left {
    left: -40px;
  }
}

.slider__button--right {
  top: 47%;
  right: -23px;
}
@media screen and (min-width: 1280px) {
  .slider__button--right {
    right: -40px;
  }
}

@media screen and (max-width: 1279px) {
  .slider__button {
    width: 11px;
    height: 20px;
  }
}/*# sourceMappingURL=index.css.map */