:root {
    --yellow-color: #FFE550;
    --light-green-color: #BBF330;
    --dark-green-color: #7EB101;
    --white-color: #FFFFFF;
    --black-color: #2C2C2C;
    --light-green-hover: #B5FF00;
    --red-color-error: #FF705D;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}