<div class="yellow-wave">
  <section class="customers-say">
    <div class="container">
      <h2 class="customers-say__title">What our Customers Say</h2>
      <p class="customers-say__desk">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <ul class="customers-say__feedback-list">
        <li class="customers-say__feedback-item">
          <article class="customers-say__feedback">
            <ul class="customers-say__list-stars">
              <li class="ustomers-say__item-stars">
                <svg width="17" height="16">
                  <use href="/src/images/hero/slider-btn.svg#btn-right"></use>
                </svg>
              </li>

              <li class="ustomers-say__item-stars">
                <svg width="17" height="16">
                  <use href="/src/images/hero/slider-btn.svg#btn-right"></use>
                </svg>
              </li>

              <li class="ustomers-say__item-stars">
                <svg width="17" height="16">
                  <use href="/src/images/hero/slider-btn.svg#btn-right"></use>
                </svg>
              </li>

              <li class="ustomers-say__item-stars">
                <svg width="17" height="16">
                  <use href="/src/images/hero/slider-btn.svg#btn-right"></use>
                </svg>
              </li>

              <li class="ustomers-say__item-stars">
                <svg width="17" height="16">
                  <use href="/src/images/hero/slider-btn.svg#btn-right"></use>
                </svg>
              </li>
            </ul>
            <p class="customers-say__feedback-text">
              “The Best app I have used to order food in a while, so many
              options to choose from too, I would recommend to a freind, No
              questions asked”
            </p>
            <div class="customers-say__customer-info">
              <picture class="customers-say__customer-foto">
                <source
                  srcset="
                    ./images/feedback/client1@1x.webp 1x,
                    ./images/feedback/client1@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/feedback/client1@1x.png 1x,
                    ./images/feedback/client1@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="./images/feedback/client1@1x.png"
                  alt="clients foto"
                />
              </picture>

              <div class="customers-say__customer-about">
                <p class="customers-say__customer-name">Sumith Shah</p>
                <p class="customers-say__customer-desk">Some Dude</p>
              </div>
            </div>
          </article>
        </li>
        <li class="customers-say__feedback-item">
          <article class="customers-say__feedback">
            <ul class="customers-say__list-stars">
              <li class="ustomers-say__item-stars">
                <svg width="17" height="16">
                  <use href="/src/images/hero/slider-btn.svg#btn-right"></use>
                </svg>
              </li>

              <li class="ustomers-say__item-stars">
                <svg width="17" height="16">
                  <use href="/src/images/hero/slider-btn.svg#btn-right"></use>
                </svg>
              </li>

              <li class="ustomers-say__item-stars">
                <svg width="17" height="16">
                  <use href="/src/images/hero/slider-btn.svg#btn-right"></use>
                </svg>
              </li>

              <li class="ustomers-say__item-stars">
                <svg width="17" height="16">
                  <use href="/src/images/hero/slider-btn.svg#btn-right"></use>
                </svg>
              </li>

              <li class="ustomers-say__item-stars">
                <svg width="17" height="16">
                  <use href="/src/images/hero/slider-btn.svg#btn-right"></use>
                </svg>
              </li>
            </ul>
            <p class="customers-say__feedback-text">
              “The ease with which I can just go in and order what i want was
              amazing, It has been a very pleasant experience ordering from this
              app”
            </p>
            <div class="customers-say__customer-info">
              <picture class="customers-say__customer-foto">
                <source
                  srcset="
                    ./images/feedback/client2@1x.webp 1x,
                    ./images/feedback/client2@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/feedback/client2@1x.png 1x,
                    ./images/feedback/client2@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="./images/feedback/client2@1x.png"
                  alt="clients foto"
                />
              </picture>

              <div class="customers-say__customer-about">
                <p class="customers-say__customer-name">Sumith Shah</p>
                <p class="customers-say__customer-desk">Some Dude</p>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </section>
  
</div>
