<section class="food-photo">
  <div class="photo__container container">
    <h2 class="section__title">Some of Our Favorites</h2>
    <p class="photo__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="photo__list list">
      <li class="photo__img">
        <picture>
          <!--Descktop-->
          <source
            media="(min-width: 1280px )"
            srcset="
              ./images/foodphoto/gamburger@1x_lg.webp 1x,
              ./images/foodphoto/gamburger@2x_lg.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px )"
            srcset="
              ./images/foodphoto/gamburger@1x_lg.png 1x,
              ./images/foodphoto/gamburger@2x_lg.png 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px )"
            srcset="
              ./images/foodphoto/gamburger@1x_md.webp 1x,
              ./images/foodphoto/gamburger@2x_md.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px )"
            srcset="
              ./images/foodphoto/gamburger@1x_md.png 1x,
              ./images/foodphoto/gamburger@2x_md.png 2x
            "
            type="image/jpg"
          />
          <!--Mobile-->
          <source
            media="(min-width: 320px )"
            srcset="
              ./images/foodphoto/gamburger@1x_sm.webp 1x,
              ./images/foodphoto/gamburger@2x_sm.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px )"
            srcset="
              ./images/foodphoto/gamburger@1x_sm.png 1x,
              ./images/foodphoto/gamburger@2x_sm.png 2x
            "
            type="image/jpg"
          />
          <img
            class="food__photo"
            src="./images/foodphoto/gamburger@1x_sm.png"
            alt="гамбургер"
            width="223px"
            height="223px"
          />
        </picture>
      </li>
      <li class="photo__img">
        <picture>
          <!--Descktop-->
          <source
            media="(min-width: 1280px )"
            srcset="
              ./images/foodphoto/Pasta@1x_lg.webp 1x,
              ./images/foodphoto/Pasta@2x_lg.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px )"
            srcset="
              ./images/foodphoto/Pasta@1x_lg.png 1x,
              ./images/foodphoto/Pasta@2x_lg.png 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px )"
            srcset="
              ./images/foodphoto/Pasta@1x_md.webp 1x,
              ./images/foodphoto/Pasta@2x_md.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px )"
            srcset="
              ./images/foodphoto/Pasta@1x_md.png 1x,
              ./images/foodphoto/Pasta@2x_md.png 2x
            "
            type="image/jpg"
          />
          <!--Mobile-->
          <source
            media="(min-width: 320px )"
            srcset="
              ./images/foodphoto/Pasta@1x_sm.webp 1x,
              ./images/foodphoto/Pasta@2x_sm.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px )"
            srcset="
              ./images/foodphoto/Pasta@1x_sm.png 1x,
              ./images/foodphoto/Pasta@2x_sm.png 2x
            "
            type="image/jpg"
          />
          <img
            class="food__photo"
            src="./images/foodphoto/Pasta@1x_sm.png"
            alt="изображение веб-сайта"
            width="280px"
          />
        </picture>
      </li>
      <li class="photo__img">
        <picture>
          <!--Descktop-->
          <source
            media="(min-width: 1280px )"
            srcset="
              ./images/foodphoto/pizza@1x_lg.webp 1x,
              ./images/foodphoto/pizza@2x_lg.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px )"
            srcset="
              ./images/foodphoto/pizza@1x_lg.png 1x,
              ./images/foodphoto/pizza@2x_lg.png 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px )"
            srcset="
              ./images/foodphoto/pizza@1x_md.webp 1x,
              ./images/foodphoto/pizza@2x_md.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px )"
            srcset="
              ./images/foodphoto/pizza@1x_md.png 1x,
              ./images/foodphoto/pizza@2x_md.png 2x
            "
            type="image/jpg"
          />
          <!--Mobile-->
          <source
            media="(min-width: 320px )"
            srcset="
              ./images/foodphoto/pizza@1x_sm.webp 1x,
              ./images/foodphoto/pizza@2x_sm.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px )"
            srcset="
              ./images/foodphoto/pizza@1x_sm.png 1x,
              ./images/foodphoto/pizza@2x_sm.png 2x
            "
            type="image/jpg"
          />
          <img
            class="food__photo"
            src="./images/foodphoto/pizza@1x_sm.png"
            alt="пицца"
            width="280px"
          />
        </picture>
      </li>
      <li class="photo__img">
        <picture>
          <!--Descktop-->
          <source
            media="(min-width: 1280px )"
            srcset="
              ./images/foodphoto/chicken@1x_lg.webp 1x,
              ./images/foodphoto/chicken@2x_lg.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px )"
            srcset="
              ./images/foodphoto/chicken@1x_lg.png 1x,
              ./images/foodphoto/chicken@2x_lg.png 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px )"
            srcset="
              ./images/foodphoto/chicken@1x_md.webp 1x,
              ./images/foodphoto/chicken@2x_md.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px )"
            srcset="
              ./images/foodphoto/chicken@1x_md.png 1x,
              ./images/foodphoto/chicken@2x_md.png 2x
            "
            type="image/jpg"
          />
          <!--Mobile-->

          <img
            class="food__photo"
            src="./images/foodphoto/chicken@1x_md.png"
            alt="курица"
            width="280"
          />
        </picture>
      </li>
      <li class="photo__img">
        <picture>
          <!--Descktop-->
          <source
            media="(min-width: 1280px )"
            srcset="
              ./images/foodphoto/salat@1x_lg.webp 1x,
              ./images/foodphoto/salat@2x_lg.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px )"
            srcset="
              ./images/foodphoto/salat@1x_lg.png 1x,
              ./images/foodphoto/salat@2x_lg.png 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px )"
            srcset="
              ./images/foodphoto/salat@1x_md.webp 1x,
              ./images/foodphoto/salat@2x_md.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px )"
            srcset="
              ./images/foodphoto/salat@1x_md.png 1x,
              ./images/foodphoto/salat@2x_md.png 2x
            "
            type="image/jpg"
          />
          <!--Mobile-->

          <img
            class="food__photo"
            src="./images/foodphoto/salat@1x_md.png"
            alt="салат"
            width="280px"
          />
        </picture>
      </li>
      <li class="photo__img">
        <picture>
          <!--Descktop-->
          <source
            media="(min-width: 1280px )"
            srcset="
              ./images/foodphoto/borshch@1x_lg.webp 1x,
              ./images/foodphoto/borshch@2x_lg.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px )"
            srcset="
              ./images/foodphoto/borshch@1x_lg.png 1x,
              ./images/foodphoto/borshch@2x_lg.png 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px )"
            srcset="
              ./images/foodphoto/borshch@1x_md.webp 1x,
              ./images/foodphoto/borshch@2x_md.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px )"
            srcset="
              ./images/foodphoto/borshch@1x_md.png 1x,
              ./images/foodphoto/borshch@2x_md.png 2x
            "
            type="image/jpg"
          />
          <!--Mobile-->

          <img
            class="food__photo"
            src="./images/foodphoto/borshch@1x_md.png"
            alt="борщ"
            width="280px"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
