<!--food photo-->

<div class="photo__container container">
  <h2 class="section__title">Some of Our Favorites</h2>
  <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <ul class="photo__list list">
    <li class="photo__img">
      <picture>
        <!--Descktop-->
        <source
          media="(min-width: 1200px )"
          srcset="
            src\images\foodphoto\gamburger@1x_lg.webp,
            src\images\foodphoto\gamburger@2x_lg.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px )"
          srcset="
            src\images\foodphoto\gamburger@1x_lg.png,
            src\images\foodphoto\gamburger@2x_lg.png
          "
          type="image/jpg"
        />
        <!--Tablet-->
        <source
          media="(min-width: 768px )"
          srcset="
            src\images\foodphoto\gamburger@1x_md.webp,
            src\images\foodphoto\gamburger@2x_md.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px )"
          srcset="
            src\images\foodphoto\gamburger@1x_md.png,
            src\images\foodphoto\gamburger@2x_md.png
          "
          type="image/jpg"
        />
        <!--Mobile-->
        <source
          media="(min-width: 320px )"
          srcset="image\gamburger@1x_sm.webp, image\gamburger@2x_sm.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 320px )"
          srcset="
            src\images\foodphoto\gamburger@1x_sm.png,
            src\images\foodphoto\gamburger@2x_sm.png
          "
          type="image/jpg"
        />
        <img
          class="food__photo"
          src="src\images\foodphoto\gamburger@1x_sm.png"
          alt="гамбургер"
          width="223px"
          height="223px"
        />
      </picture>
    </li>
    <li class="photo__img">
      <picture>
        <!--Descktop-->
        <source
          media="(min-width: 1200px )"
          srcset="
            src\images\foodphoto\Pasta@1x_lg.webp,
            src\images\foodphoto\Pasta@2x_lg.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px )"
          srcset="
            src\images\foodphoto\Pasta@1x_lg.png,
            src\images\foodphoto\Pasta@2x_lg.png
          "
          type="image/jpg"
        />
        <!--Tablet-->
        <source
          media="(min-width: 768px )"
          srcset="
            src\images\foodphoto\Pasta@1x_md.webp,
            src\images\foodphoto\Pasta@2x_md.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px )"
          srcset="
            src\images\foodphoto\Pasta@1x_md.png,
            src\images\foodphoto\Pasta@2x_md.png
          "
          type="image/jpg"
        />
        <!--Mobile-->
        <source
          media="(min-width: 320px )"
          srcset="
            src\images\foodphoto\Pasta@1x_sm.webp,
            src\images\foodphoto\Pasta@2x_sm.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 320px )"
          srcset="
            src\images\foodphoto\Pasta@1x_sm.png,
            src\images\foodphoto\Pasta@2x_sm.png
          "
          type="image/jpg"
        />
        <img
          class="food__photo"
          src="src\images\foodphoto\Pasta@1x_sm.png"
          alt="изображение веб-сайта"
          width="280px"
        />
      </picture>
    </li>
    <li class="photo__img">
      <picture>
        <!--Descktop-->
        <source
          media="(min-width: 1200px )"
          srcset="
            src\images\foodphoto\pizza@1x_lg.webp,
            src\images\foodphoto\pizza@2x_lg.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px )"
          srcset="
            src\images\foodphoto\pizza@1x_lg.png,
            src\images\foodphoto\pizza@2x_lg.png
          "
          type="image/jpg"
        />
        <!--Tablet-->
        <source
          media="(min-width: 768px )"
          srcset="
            src\images\foodphoto\pizza@1x_md.webp,
            src\images\foodphoto\pizza@2x_md.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px )"
          srcset="
            src\images\foodphoto\pizza@1x_md.png,
            src\images\foodphoto\pizza@2x_md.png
          "
          type="image/jpg"
        />
        <!--Mobile-->
        <source
          media="(min-width: 320px )"
          srcset="
            src\images\foodphoto\pizza@1x_sm.webp,
            src\images\foodphoto\pizza@2x_sm.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 320px )"
          srcset="
            src\images\foodphoto\pizza@1x_sm.png,
            src\images\foodphoto\pizza@2x_sm.png
          "
          type="image/jpg"
        />
        <img
          class="food__photo"
          src="src\images\foodphoto\pizza@1x_sm.png"
          alt="пицца"
          width="280px"
        />
      </picture>
    </li>
    <li class="photo__img">
      <picture>
        <!--Descktop-->
        <source
          media="(min-width: 1200px )"
          srcset="
            src\images\foodphoto\chicken@1x_lg.webp,
            src\images\foodphoto\chicken@2x_lg.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px )"
          srcset="
            src\images\foodphoto\chicken@1x_lg.png,
            src\images\foodphoto\chicken@2x_lg.png
          "
          type="image/jpg"
        />
        <!--Tablet-->
        <source
          media="(min-width: 768px )"
          srcset="
            src\images\foodphoto\chicken@1x_md.webp,
            src\images\foodphoto\chicken@2x_md.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px )"
          srcset="
            src\images\foodphoto\chicken@1x_md.png,
            src\images\foodphoto\chicken@2x_md.png
          "
          type="image/jpg"
        />
        <!--Mobile-->

        <img
          class="food__photo"
          src="src\images\foodphoto\chicken@1x_md.png"
          alt="курица"
          width="280"
        />
      </picture>
    </li>
    <li class="photo__img">
      <picture>
        <!--Descktop-->
        <source
          media="(min-width: 1200px )"
          srcset="
            src\images\foodphoto\salat@1x_lg.webp,
            src\images\foodphoto\salat@2x_lg.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px )"
          srcset="
            src\images\foodphoto\salat@1x_lg.png,
            src\images\foodphoto\salat@2x_lg.png
          "
          type="image/jpg"
        />
        <!--Tablet-->
        <source
          media="(min-width: 768px )"
          srcset="
            src\images\foodphoto\salat@1x_md.webp,
            src\images\foodphoto\salat@2x_md.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px )"
          srcset="
            src\images\foodphoto\salat@1x_md.png,
            src\images\foodphoto\salat@2x_md.png
          "
          type="image/jpg"
        />
        <!--Mobile-->

        <img
          class="food__photo"
          src="src\images\foodphoto\salat@1x_md.png"
          alt="салат"
          width="280px"
        />
      </picture>
    </li>
    <li class="photo__img">
      <picture>
        <!--Descktop-->
        <source
          media="(min-width: 1200px )"
          srcset="
            src\images\foodphoto\borshch@1x_lg.webp,
            src\images\foodphoto\borshch@2x_lg.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px )"
          srcset="
            src\images\foodphoto\borshch@1x_lg.png,
            src\images\foodphoto\borshch@2x_lg.png
          "
          type="image/jpg"
        />
        <!--Tablet-->
        <source
          media="(min-width: 768px )"
          srcset="
            src\images\foodphoto\borshch@1x_md.webp,
            src\images\foodphoto\borshch@2x_md.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px )"
          srcset="
            src\images\foodphoto\borshch@1x_md.png,
            src\images\foodphoto\borshch@2x_md.png
          "
          type="image/jpg"
        />
        <!--Mobile-->

        <img
          class="food__photo"
          src="src\images\foodphoto\borshch@1x_md.png"
          alt="борщ"
          width="280px"
        />
      </picture>
    </li>
  </ul>
</div>
