<footer class="footer-overlay">
  <div class="footer">
    <div class="container">
      <!--Footer logo-->
      <div class="footer-containers">
        <div class="footer-navigation">
          <a href=""
            ><img
              srcset="./images/logo1.png 1x, ./images/logo1@2.png 2x"
              src="./images/logo1.png"
              alt="Лого компанії"
          /></a>
          <!--Footer navigation-->
          <div class="navigation">
            <nav class="header__nav">
              <ul class="header__nav-list">
                <li class="header__nav-item header__nav-item--current">
                  <a class="header__link" href="./index.html" aria-label="home"
                    >Home</a
                  >
                </li>
                <li class="header__nav-item">
                  <a class="header__link" href="./index.html" aria-label="about"
                    >About</a
                  >
                </li>
                <li class="header__nav-item">
                  <a
                    class="header__link"
                    href="./index.html"
                    aria-label="service"
                    >Service</a
                  >
                </li>
                <li class="header__nav-item">
                  <a class="header__link" href="./index.html" aria-label="menu"
                    >Menu</a
                  >
                </li>
                <li class="header__nav-item">
                  <a class="header__link" href="#contacts" aria-label="contact"
                    >Contact</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--Footer subscribe-->
        <div class="subscribe-container">
          <p class="subscribe">Subscribe</p>
          <form
            name="subscribe-form"
            class="subscribe-form"
            id="subscribe-form"
          >
            <label class="subscribe-form__group">
              <input
                class="subscribe-form__field field--footer"
                name="subscribe-email"
                type="email"
                placeholder="Enter your email"
                autocomplete="on"
                required
              />
              <!-- Модальное окно -->
              <div class="backdrop-sub sub-is-hidden" data-modalsub>
                <div class="modal-sub">
                  <button
                    type="button"
                    class="modal-sub-close-btn"
                    data-modalsub-close
                  >
                    x
                    <!-- <svg class="modal-icon" width="30" height="30">
    <use href="/src/images/sprite.svg#icon-warning"></use>
  </svg> -->
                  </button>
                  <h2 class="modal-form-title">Thanks for subscribing!</h2>
                  <p>We sent you an email with our special offers</p>
                </div>
              </div>
              <!-- Закончилось модальное окно -->

              <div class="subscribe-form__message">
                
                <span class="subscribe-form__warning">Not a valid email address (example@email.com)</span>
              </div>
            </label>
            <button
              class="subscribe-form__btn btn btn--border"
              type="submit"
              data-modalsub-open
            >
              Subscribe
            </button>
          </form>
          <p class="subscribe-form__policy">
            By subscribing you agree to with our
            <a class="subscribe-form__link" href="">Privacy Policy</a>
          </p>
        </div>
      </div>
      <!--Footer therms-->
      <div class="therms">
        <ul class="footer-therms">
          <li class="footer-therms__item">
            <a class="footer-therms__link" href="">Privacy Policy</a>
          </li>
          <li class="footer-therms__item">
            <a class="footer-therms__link" href="">Terms of Service</a>
          </li>
          <li class="footer-therms__item">
            <a class="footer-therms__link" href="">Cookies Settings</a>
          </li>
        </ul>
        <p class="footer-therms__text">2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
