<footer>
    <div class="container">
        <!--Footer logo-->
        <div>
        <a href=""><img src="" alt="">Лого компанії</a>
        <!--Footer navigation-->
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Service</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
    <!--Footer subscribe-->
    <form name="subscribe-form" class="subscribe-form">
        <input
          class="subscribe-form__field"
          name="subscribe-email"
          type="email"
          placeholder="Enter your email"
          autocomplete="on"
        />
        <button
          class="subscribe-form__btn btn btn--border"
          type="submit"
        >
          Subscribe
        </button>
      </form>
        <p>By subscribing you agree to with our <a class="" href="">Privacy Policy</a></p>

    </div>
    <!--Footer therms-->
    <div>
        <ul>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms of Service</a></li>
            <li><a href="">Cookies Settings</a></li>
        </ul>
        <p>2022 FoodSta. All right reserved.</p>
    </div>
    </div>
</footer>