<footer>

  <div class="container">
    <!--Footer logo-->
    <div>
    <div class="footer-navigation">
    <a href=""><img src="./images/logo1.png" alt="Лого компанії"></a>
    <!--Footer navigation-->
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Service</a></li>
            <li><a href="">Menu</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
  </div>
    <!--Footer subscribe-->
    <p>Subscribe</p>
    <form name="subscribe-form" class="subscribe-form">
        <input
          class="subscribe-form__field"
          name="subscribe-email"
          type="email"
          placeholder="Enter your email"
          autocomplete="on"
        />
        <button
          class="subscribe-form__btn btn btn--border"
          type="submit"
        >
          Subscribe
        </button>
      </form>
        <p class="subscribe-form__policy">By subscribing you agree to with our <a class="" href="">Privacy Policy</a></p>

    </div>
    <!--Footer therms-->
    <div>
        <ul class="footer-therms">
            <li class="footer-therms__item"><a class="footer-therms__link" href="">Privacy Policy</a></li>
            <li class="footer-therms__item"><a class="footer-therms__link" href="">Terms of Service</a></li>
            <li class="footer-therms__item"><a class="footer-therms__link" href="">Cookies Settings</a></li>
        </ul>
        <p>2022 FoodSta. All right reserved.</p>
    </div>
    </div>
</footer>