<div class="wrapper">
  <header class="header">
    <div class="header__container container">
      <div class="header__item">
        <a class="logo header__logo" data-logo href="./index.html">
          <img
            class="header__img"
            src="./images/logo1.png"
            width="71"
            height="52"
            alt="company logo"
          />
        </a>

        <button
          class="burger-menu__btn"
          data-menu-button
          type="button"
          aria-label="mobile menu button"
        >
          <svg
            class="burger-menu__btn-icon"
            width="28"
            height="28"
            aria-label="mobile menu switch"
            aria-controls="burger-menu"
          >
            <use class="icon-menu" href="./svg/icons.svg#icon-burger"></use>
          </svg>
        </button>
        <div class="burger__menu--overlay">
        <div class="burger-menu" id="burger-menu" data-menu>
          <nav class="header__nav">
            <div class="menu-controls">
              <button
                class="header__nav-cross burger-menu__btn"
                data-menu-button
                type="button"
                aria-label="mobile menu button"
              >
                <svg
                  class="burger-menu__btn-icon-cross"
                  width="11"
                  height="11"
                  aria-label="mobile menu switch"
                  aria-controls="burger-menu"
                >
                  <use
                    class="icon-cross"
                    href="./svg/icons.svg#icon-cross"
                  ></use>
                </svg>
              </button>
              <ul class="header__nav-list">
                <li class="header__nav-item header__nav-item--current">
                  <a
                    class="header__link header__link--current"
                    href="./index.html"
                    aria-label="home"
                    >Home</a
                  >
                </li>
                <li class="header__nav-item">
                  <a class="header__link" href="#About" aria-label="about"
                    >About</a
                  >
                </li>
                <li class="header__nav-item">
                  <a
                    class="header__link"
                    href="#Service"
                    aria-label="service"
                    >Service</a
                  >
                </li>
                <li class="header__nav-item">
                  <a class="header__link" href="#Menu" aria-label="menu"
                    >Menu</a
                  >
                </li>
                <li class="header__nav-item">
                  <a class="header__link" href="#Contact" aria-label="contact"
                    >Contact</a
                  >
                </li>
              </ul>
            </div>
          </nav>
          <button
            class="header__button"
            data-modal-open
            type="button"
            aria-label="order services"
          >
            Order Now
          </button>
        </div>
        </div>
        </div>
      </div>
    </div>
  </header>
</div>
