<!DOCTYPE html>
<!-- backdrop -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal" role="group">
        <button class="modal__btn-close" type="button" aria-label="order services close form" data-modal-close>
      <svg width="11" height="11">
        <use href="./svg/icons.svg#icon-cross"></use>
      </svg>
    </button>
        <p class="modal__title">Order Form</p>
        <form class="modal__form" autocomplete="off">
            <label class="label">
        <span class="label__text">Name</span>
        <span class="label__thumb">
          <input
            class="label__input"
            name="user-name"
            type="text"
            aria-label="enter user name"
            autofocus
            required
          />
          <span class="label__icon">Your name</span>
        </span>
      </label>

            <label class="label">
        <span class="label__text">Phone number</span>
        <span class="label__thumb">
          <input
            class="label__input"
            name="user-tel"
            type="tel"
            aria-label="enter yor tel number"
            required
          />
          <span class="label__icon">+38(0_ _) _ _ _ _ _ _ _</span>
        </span>
      </label>

            <label class="label">
        <span class="label__text">E-mail</span>
        <span class="label__thumb">
          <input
            class="label__input"
            name="user-email"
            type="email"
            aria-label="enter your email"
            required
          />
          <span class="label__icon">example@gmail.com</span>
        </span>
      </label>

            <button class="modal__btn-submit" type="submit" aria-label="send data">
        <span>Send</span>
      </button>
        </form>
    </div>
</div>