<div class="backdrop-hello hello-is-hidden" data-modalhello>
  <div class="modal-hello">
    <button type="button" class="modal-hello-close-btn" data-modalhello-close>
      <svg class="modal-hello__icon-cross" width="11" height="11">
        <use href="./svg/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="modal-hello__title">Слава Україні!</h2>
    <p class="modal-hello__text">
      20% від вартості Ваших замовлень ми відправляємо на домомогу ЗСУ
    </p>
  </div>
</div>
