<section class="special-offer">
    <div class="container container__special-offer">

       <div class="spesial__img">
        <img 
        srcset="
        ./images/special-offer/apple_big_mobile_x1.png 280w,
        ./images/special-offer/apple_big_tablet_x1.png 357w, 
        ./images/special-offer/apple_big_desktop_x1.png 550w,
        ./images/special-offer/apple_big_mobile_x2.png 560w,
        ./images/special-offer/apple_big_tablet_x2.png 714w,
        ./images/special-offer/apple_big_desktop_x2.png 1100w
        "
        sizes="(min-width: 1280px) 550px, (min-width: 768px) 357px, (min-width: 480px) 280px, 100vw"
        src="./images/special-offer/apple_big_mobile_x1.png"
        width="280" 
        alt="apple">
        
       </div>
        <div class="special-offer__text">
            <h2 class="special-offer__title">
                What’s Special About Our Offerings </h2>
            <p class="special-offer__article">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros elementum tristique.
                Duis cursus, mi quis viverra ornare, eros dolor
                interdum nulla, ut commodo diam libero vitae erat.
            </p>
            <div class="special-offer__element">
            <svg class="special-offer__icon" width="48" height="48">
                <use href="./images/sprite.svg#icon-rocket"></use>
            </svg>
            </div>
            <h3 class="special-offer__second-title">
                Fasest Delivery
            </h3>
            <p class="special-offer__article">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
            </p>
            <div class="special-offer__element">
            <svg class="special-offer__icon" width="48" height="48">
                <use href="./images/sprite.svg#icon-click"></use>
            </svg>
            </div>
            <h3 class="special-offer__second-title">
                Easy to order
            </h3>
            <p class="special-offer__article">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
            </p>
            <button class="special-offer__button special-offer__button-order-big" type="button">Order Now</button>
            <a class="special-offer__link" href="#">Read More</a>
            <svg width="5" height="9">
            <use  href="/src/images/sprite.svg#btn-right"></use>
            </svg>
        </div> 

    </div>
    </div>
</section>