<section class="subscribe-section" id="Service">
  <div class="container">
    <div class="subscribe-section__wrapper">
      <picture class="subscribe-section__img">
        <!-- desctop screen-->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/feedback/banan@1x_desk.webp 1x,
            ./images/feedback/banan@2x_desk.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/feedback/banan@1x_desk.png 1x,
            ./images/feedback/banan@2x_desk.png 2x
          "
          type="image/png"
        />
        <!-- tablet screen-->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/feedback/banan@1x_tab.webp 1x,
            ./images/feedback/banan@2x_tab.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/feedback/banan@1x_tab.png 1x,
            ./images/feedback/banan@2x_tab.png 2x
          "
          type="image/png"
        />
        <!-- mobile screen-->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/feedback/banan@1x_mob.webp 1x,
            ./images/feedback/banan@2x_mob.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/feedback/banan@1x_mob.png 1x,
            ./images/feedback/banan@2x_mob.png 2x
          "
          type="image/png"
        />
        <!-- fallback -->
        <img src="./images/feedback/banan@1x_mob.png" alt="Banan" />
      </picture>

      <div class="subscribe-section__wrapper-text">
        <h2 class="subscribe-section__title">
          Subscribe To Get Special Offers
        </h2>
        <p class="subscribe-section__desk">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>

        <form name="subscribe-form" class="subscribe-form" id="subscribe-form-1">
          <label for="input-1" class="subscribe-form__group"> </label>
            <input
              id="input-1"
              class="subscribe-form__field"
              name="subscribe-email"
              type="email"
              placeholder="Enter your email"
              autocomplete="on"
              required/>
              <svg class="subscribe-form__icon" width="12" height="12">
                <use href="/src/images/sprite.svg#icon-warning"></use>
              </svg>
              <span class="subscribe-form__notification"
                >Not a valid email address (example@email.com)</span
              >
            <!-- Модальное окно -->
            <!-- <div class="backdrop-sub sub-is-hidden" data-modalsub>
              <div class="modal-sub">
                <button
                  type="button"
                  class="modal-sub-close-btn"
                  data-modalsub-close
                >
                  <svg class="modal-sub__icon-cross" width="11" height="11">
                    <use href="./svg/icons.svg#icon-cross"></use>
                  </svg>
                </button>
                <h2 class="modal-sub__title">Thanks for subscribing!</h2>
                <p class="modal-sub__text">
                  We sent you an email with our special offers
                </p>
              </div>
            </div> -->

            <!-- Закончилось модальное окно -->

           
          
          <button
            class="subscribe-form__btn btn--green"
            type="submit">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
