<section class="subscribe">
    <div class="container">
      <!-- <img class="subscribe__img" src="../images/logo.png" alt="banana" /> -->
      <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
      <p class="subscribe_desk">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form name="subscribe-form" class="subscribe-form">
        <input
          class="subscribe-form__field"
          name="subscribe-email"
          type="email"
          placeholder="Enter your email"
          autocomplete="on"
        />
        <button
          class="subscribe-form__btn btn btn--border btn--green"
          type="submit"
        >
          Subscribe
        </button>
      </form>
    </div>
  </section>