.hero__button-order-little {
    width: 100px;
    height: 32px;
    border: none;
    margin-top: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    background: #bbf330;
    border-radius: 30px;
    &:hover,
    &:focus {
        background: #b5ff00;
    }
}