.register-form {
    text-align: center;
    &__title {
        display: block;
        margin-bottom: 20px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 24px;
        line-height: calc(29 / 24);
        text-align: center;
        color: #2c2c2c;
    }
    &__group {
        margin-bottom: 10px;
    }
    &__wrap {
        position: relative;
        display: block;
        margin-bottom: 12px;
    }
    &__wrap:last-child {
        margin-bottom: 0;
    }
    &__label {
        display: block;
        text-align: left;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14 / 12);
        /* identical to box height */
        letter-spacing: 0.01em;
        color: #757575;
    }
    &__input {
        width: 100%;
        border: 1px solid rgba(33, 33, 33, 0.2);
        padding: 10px;
        padding-left: 50px;
        border-radius: 30px;
        outline: transparent;
    }
    &__item {
        position: relative;
        transition-property: border-color;
    }
    &__item:hover &__input,
    &__item:focus-within &__input {
        border-color: var(--accent-cl);
        transition: border-color var(--anim);
        cursor: pointer;
    }
    &__item:hover &__text,
    &__item:focus-within &__text {
        color: var(--accent-cl);
        transition: color var(--anim);
        cursor: pointer;
    }
    &__text {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        transition: color var(--anim);
    }
    &__message:focus,
    &__message:hover {
        border: 1px solid var(--accent-cl);
        background-color: transparent;
        cursor: pointer;
    }
    &__btn {
        display: inline-flex;
        align-items: center;
        text-align: center;
        padding: 10px 56px;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        letter-spacing: 0.06em;
        color: #ffffff;
        background-color: var(--accent-cl);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        cursor: pointer;
        transition-property: background-color;
        transition: background-color var(--anim);
        &:focus,
        &:hover {
            background-color: var(--btn-cl);
            cursor: pointer;
        }
    }
}