.backdrop-sub {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--animation), visibility var(--animation);
}

.backdrop-sub.sub-is-hidden,
.subscribe-form__field:invalid:required:not(:placeholder-shown)~.backdrop-sub
 {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.subscribe-form__field:required:placeholder-shown~.backdrop-sub {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-sub {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    transform: translate(-50%, -50%) scale(1);
    padding: 50px 20px 40px 20px;

        text-align: center;

    background-color: var(--yellow-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    transition: transform var(--animation);

    &__title {
            margin-bottom: 20px;
    
            font-family: inherit;
            font-weight: 700;
            font-size: 24px;
            line-height: 1.2;
    
            color: var(--black-color);
        }
    
        &__text {
            font-family: inherit;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.2
        }

    &__icon-cross {
                fill: var(--black-color);
    }
        @media screen and (min-width: 480px) {
            width: 458px;
        }

}

.backdrop-sub.sub-is-hidden .modal-sub {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal-sub-close-btn {
    position: absolute;
        top: 16px;
        right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #ffffff;
        border: none;
        cursor: pointer;
}