.yellow-wave {
    background-image: url(/src/images/feedback/backgr@1x_mob.png);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
                background-image: url(/src/images/feedback/backgr@2x_mob.png);
            }
    @media screen and (min-width: 768px) {
        background-image: url(/src/images/feedback/backgr@1x_tab.png);
        
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/src/images/feedback/backgr@2x_tab.png);
            }
    }
           @media screen and (min-width: 1280px) {
               background-image: url(/src/images/feedback/backgr@1x_desk.png);
    
               @media (min-device-pixel-ratio: 2),
               (min-resolution: 192dpi),
               (min-resolution: 2dppx) {
                   background-image: url(/src/images/feedback/backgr@2x_desk.png);
               }
           }
        }

.customers-say {
    padding-top: 60px;
    padding-bottom: 134px;


    &__feedback-item:not(:last-child){
        margin-bottom: 24px;
    }


    &__title {
        margin-bottom: 20px;

        font-family: inherit;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;

        color: var(--black-color);
    }

    &__desk {
        margin-bottom: 32px;

        font-family: inherit;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;

        color: var(--black-color);
    }

    &__feedback {
        padding: 8px;

        background-color: var(--white-color);
        border-radius: 0 20px 20px 20px;
    }

    &__list-stars {
        display: flex;
        gap: 4px;

        margin-bottom: 28px;
    }

    &__feedback-text {
        margin-bottom: 40px;

        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.18;

        color: var(--black-color);
    }

    &__customer-info {
        display: flex;
        gap: 16px;
    }

    &__customer-foto{
        box-sizing: content-box;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 48px;
        height: 48px;
        border: 2px solid var(--yellow-color);
        border-radius: 50%;
    }

    &__customer-about {
        padding: 4px 14px 4px 0;


        font-size: 13.6667px;
        line-height: 1.46;

        color: var(--black-color);
        border-right: 1px solid var(--dark-green-color);
    }

    &__customer-name {
        font-weight: 600;
        margin-bottom: 2px;
    }

    &__customer-desk {
        font-weight: 400;
    }


    @media screen and(min-width: 768px) {
        &__feedback-list{
            display: flex;
            gap: 32px;
        }

        &__title {
            margin-bottom: 48px;

            font-size: 42px;
            line-height: 1.17;
        }

        &__desk {
            font-size: 16px;
            line-height: 1.19;
        }
    }

    @media screen and(min-width: 1280px) {
        padding-top: 100px;

        &__feedback-list {
                gap: 139px;

                margin-right: 107px;
            }

         &__title {
            margin-bottom: 20px;

                font-size: 42px;
                line-height: 1.17;
         }

        &__desk {
            margin-bottom: 32px;

            line-height: 1.17;
        }

        &__feedback-text {
            font-size: 18px;
            line-height: 1.17;
        }
               
    }
}