.footer-overlay{
   width: 100%;
   height: 100%;
 background: url(../images/footer/orange-320@1.png) top right no-repeat, 
             url(../images/footer/apple-320@1.png) top 132px left no-repeat,
             url(../images/footer/fruits-320@1.png) bottom center no-repeat;
    
    
    @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
    background: url(../images/footer/orange-320@2.png) top right no-repeat cover, 
                url(../images/footer/apple-320@2.png) top 132px left no-repeat cover,
                url(../images/footer/fruits-320@2.png) no-repeat cover bottom;
   }
   @media screen and (min-width: 768px) {
     background: url(../images/footer/orange-768@1.png) top right no-repeat,
             url(../images/footer/apple-768@1.png) bottom right no-repeat,
            url(../images/footer/apple2-768@1.png) right 363px bottom no-repeat,
            url(../images/footer/banana-768@1.png) right 233px bottom no-repeat,
            url(../images/footer/orange2-768@1.png) bottom left no-repeat;
   }
   @media screen and (min-width: 1280px) {
      background: url(../images/footer/fruit_footer-1280@1.png) bottom center no-repeat;
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
         background: url(../images/footer/fruit_footer-1280@2.png)1211px bottom center no-repeat;
      }
   }
  }
  
  .footer {
    padding: 60px 0;
    
    @media screen and (min-width: 768px) {
     padding-top: 118px;
     padding-bottom: 100px;

    }
 }
 .footer-containers{
   @media screen and (min-width: 1280px) {
      display: flex;
      justify-content: space-between;
      }
 }
 
  .footer-navigation {
     display: flex;
   
  }
 
  .navigation {
     margin-left: 81px;
     @media screen and (min-width: 768px) {
         margin-left: 114px;
         }
  }
  .nav__list {
     @media screen and (min-width: 768px) {
     display: flex;
     }
  }
 .subscribe-container {

 }
  .subscribe {
 padding-top: 40px;
 margin-bottom: 12px;
 font-weight: 600;
 font-size: 14px;
 line-height: 1.5;
  }
  
  .subscribe-form__policy {
    margin-top: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
   font-size: 12px;
   line-height: 1.16;
   
   }
  }
 
  .subscribe-form__link {
 text-decoration-line: underline;
 color: var(--dark-green-color);
 
  }
 
  .therms {
    padding-top: 60px;
    @media screen and (min-width: 768px) {
     display: flex;
     align-items: flex-end;
     justify-content: space-between;
     }
 }
 
  .footer-therms {
      display: flex;
     justify-content: space-between;
  }
  
  .footer-therms__link {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: var(--dark-green-color);

  @media screen and (min-width: 768px) {
   font-size: 12px;
   line-height: 1.16;
   margin-right: 20px;
   
   }
  }
 
 .footer-therms__text {
 text-align: center;
 margin-top: 40px;
 font-weight: 400;
 font-size: 10px;
 line-height: 1.2;
 color: var(--black-color);

 @media screen and (min-width: 768px) {
     margin-top: 0;
     font-size: 12px;
     line-height: 1.16;
     
     }
 }
  