
.food-photo{
    padding-top: 60px;
    padding-bottom: 60px;
    
    
    
    
    @media screen and (min-width: 768px) {
    
    padding-top: 120px;
    padding-bottom: 120px;
    
        }
}
.photo__container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
   

    @media screen and (min-width: 1280px) {}

}



.photo__list {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: var(--animation);
    


}

.section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    color: var(--black-color);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    text-align: center;
    

    @media screen and (min-width: 768px) {
        font-size: 42px;
        line-height: calc(49 / 42);
        text-align: center;
        width: 656px;
        height: 49px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1280px) {}

}

.photo__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    color: var(--black-color);
    margin-bottom: 60px;
    width: 280px;
    text-align: center;
   

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: calc(19 / 16);
        margin-bottom: 20px;
    }
}

.food__photo {
    background: var(--white-color);
    width: 280px;
    height: 282px;

    border: 11px solid var(--yellow-color);
    border-radius: 139.658px;
    padding: 29px;

    @media screen and (min-width: 768px) {
        width: 336px;
        height: 338px;
        gap: 32px;
        border: 14px solid var(--yellow-color);
        border-radius: 167.59px;
    }

    @media screen and (min-width: 1280px) {
        width: 395px;
        height: 397px;
        gap: 32px;
        border: 16px solid var(--yellow-color);
        border-radius: 197.5px;
    }
}

.food__photo:hover,
.food__photo:focus {
    border: 11px solid var(--light-green-color);

    @media screen and (min-width: 768px){
        border: 14px solid var(--light-green-color);
    }
         @media screen and (min-width: 1280px){
        border: 16px solid var(--light-green-color);
         }
}

.photo__img{

    transition: var(--animation);
    @media screen and (min-width: 1280px) {
            cursor: pointer;
        }
    
}
.photo__img:nth-child(n+4) {
    display: none;

    @media screen and (min-width: 768px) {
        display: unset;
    }
       
}