// hero Pavlo Radchenko
.container__hero {
  max-width: 1280px;
  height: 608px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  gap: 152px;
}

.hero__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin: 0%;

  padding-bottom: 28px;
}

.hero__about-text {
  font-family: 'Roboto';
  font-style: normal;
  width: 502px;
  height: 69px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  margin: 0%;
}

.hero__button {
  width: 100px;
  height: 32px;

  border: none;

  margin-top: 40px;

  font-weight: 400;
  font-size: 13.6667px;
  line-height: 150%;

  background: #bbf330;
  border-radius: 30px;

  &:hover,
  &:focus {
    background: #b5ff00;
  }
}

// slider

.hero__slider {
  position: relative;
  margin: 14px 14px 14px 0;

  min-width: 580px;
  min-height: 580px;
  background: #fefefe;

  border: 26px solid #ffe550;
  border-radius: 50%;
}

.slider__items {
  counter-reset: slide;
  padding: 0;
}

.slider__item {
  position: relative;
  counter-increment: slide;
  list-style: none;
  transition-duration: 0.5s;
}

.slider__item::after {
  content: counter(slide);
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
}

.slider__img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.slider__button--left,
.slider__button--right {
  display: flex;
  align-items: center;
  justify-content: center;
  //   padding-top: 5.47px;
  //   padding-right: 18.52px;
  //   padding-bottom: 5.47px;
  //   padding-left: 13.6px;
  position: absolute;
  width: 48px;
  height: 40px;
  padding: 0;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: none;

  &:hover,
  &:focus {
    fill: #7eb101;
  }
}

.slider__button--left {
  top: 47%;
  left: -40px;
}

.slider__button--right {
  top: 47%;
  right: -40px;
}
