// hero styles Pavlo Radchenko

.hero {
  margin-top: 72px;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1280px) {
    margin-top: 72px;
    padding-top: 14px;
    padding-bottom: 0;
  }
}

.container__hero {
  gap: 40px;
  position: relative;

  @media screen and (min-width: 1280px) {
    gap: 152px;
    display: flex;
    justify-content: center;
  }
}

.hero__about {
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hero__title {
  font-weight: 700;

  font-size: 28px;
  line-height: 33px;
  margin: 0%;

  padding-bottom: 28px;

  @media screen and (max-width: 767px) {
    max-width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 537px;
    font-size: 42px;
    line-height: 120%;
    padding-bottom: 44px;
  }

  @media screen and (min-width: 1280px) {
    width: 502px;
    font-size: 48px;
    line-height: 120%;
    padding-bottom: 28px;
  }
}

.hero__about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  margin: 0%;
  padding-bottom: 28px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 40px;
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 40px;
    width: 502px;
  }
}

.hero__button {
  width: 98px;
  height: 32px;
  margin: 0;
  cursor: pointer;

  border: none;

  font-weight: 400;
  font-size: 13.6667px;
  line-height: 150%;

  transition: background-color var(--animation);
  background: var(--light-green-color);
  border-radius: 30px;

  &:hover,
  &:focus {
    background: var(--green-color-hover);
    transition: background-color var(--animation);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 73px;
  }
}

// slider

.hero__circle {
  position: relative;
  margin-right: 14px;

  background: #fefefe;

  border-radius: 50%;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 1279px) {
    margin-top: auto;
    position: absolute;
    right: 45px;
    bottom: 0;
    margin: 0 0 14px 40px;
  }

  @media screen and (min-width: 768px) {
    width: 320px;
    height: 320px;
    border: 14px solid var(--yellow-color);
  }

  @media screen and (min-width: 1280px) {
    width: 580px;
    height: 580px;
    border: 26px solid var(--yellow-color);
  }
}

.slider__container {
  border-radius: 50%;
  overflow: hidden;
}

.slider {
  display: flex;
  padding: 0;
}

.slide {
  display: inline-block;
  position: relative;
  list-style: none;
  transition-duration: 0.5s;
}

.slider__img {
  width: 292px;

  @media screen and (min-width: 1280px) {
    min-width: 528px;
  }
}

.slider__button--left,
.slider__button--right {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  position: absolute;

  padding: 0;

  transition: fill var(--animation);
  background: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: none;

  &:hover,
  &:focus {
    transition: fill var(--animation);
    fill: var(--dark-green-color);
  }

  &:active {
    fill: var(--black-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 28px;
  }

  @media screen and (min-width: 1280px) {
    width: 48px;
    height: 40px;
  }
}

.slider__button--left {
  top: 47%;
  left: -23px;

  @media screen and (min-width: 1280px) {
    left: -40px;
  }
}

.slider__button--right {
  top: 47%;
  right: -23px;

  @media screen and (min-width: 1280px) {
    right: -40px;
  }
}

.slider__button {
  @media screen and (max-width: 1279px) {
    width: 11px;
    height: 20px;
  }
}
