.yellow-bkg {
    background-image: url(/src/images/special-offer/offer_bg_mobile_x1.png);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
                background-image: url(/src/images/special-offer/offer_bg_mobile_x2.png);
            }
    background-repeat: no-repeat;
background-position: 50% 0;

    @media screen and (min-width: 768px) {
        background-image: url(/src/images/special-offer/offer_bg_tablet_x1.png);
        
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/src/images/special-offer/offer_bg_tablet_x2.png);
            }
    }
           @media screen and (min-width: 1280px) {
               background-image: url(/src/images/special-offer/offer_bg_desktop_x1.png);
    
               @media (min-device-pixel-ratio: 2),
               (min-resolution: 192dpi),
               (min-resolution: 2dppx) {
                   background-image: url(/src/images/special-offer/offer_bg_desktop_x2.png);
               }
           }
        }

.special-offer {
    padding-top: 47px;
    padding-bottom: 63px;
}


.container__special-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
}

// .apple-for-mobile {
//     @media screen and (max-width:767px) {
//         display: none;
//     }

// }

// .apple-for-desktop {
//     @media screen and (max-width:1279px) {
//         display: none;
//     }
// }

.special-offer__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18em;
    color: var(--black-color);

    @media screen and (min-width:768px) {
        font-size: 42px;
        line-height: 1.17em;
    }

    @media screen and (min-width:1280px) {
        font-size: 42px;
        line-height: 1.19em;
    }
}

.special-offer__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14em;
    color: var(--black-color);

    @media screen and (min-width:768px) {
        font-size: 16px;
        line-height: 1.19em;
    }

    @media screen and (min-width:1280px) {
        font-size: 16px;
        line-height: 1.5em;
    }
}

.special-offer__circle-for-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--white-text);
}

.special-offer__icon {
    width: 32px;
    height: 32px;
    fill: var(--dark-green-color);
}

.special-offer__caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17em;
    color: var(--black-color);

    @media screen and (min-width:1280px) {
        font-size: 17.08px;
        line-height: 1.4em;
    }
}

.special-offer__article {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14em;
    color: var(--black-color);

    @media screen and (min-width:1280px) {
        line-height: 1.5em;
    }
}

.special-offer__button-read-more {
    border: none;
    background-color: transparent;
    @media screen and (min-width:768px) {
        display: none;
    }
    @media screen and (min-width:1280px) {
        display: none;
    }
}